
# Directory Ignores ##########################################################
guide/book
target
vendor
.idea

# File Ignores ###############################################################
**/*.rs.bk

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb
.DS_Store
Cargo.lock
.vscode
